<div>
  <h2 class="instructions">Instructions for taking up the online examination</h2>
  <br>
  <br>
  <ol>
  <li>
    Choose your preferred language in which you have to take up the exam.
  </li>
  <li>
    The exam consists of 3 level with 10 mcq's in each level.
  </li>
  <li>
    The difficulty of the questions increases with the increase in level.
  </li>
  <li>
    There is a minimum cut off for each level. Only if you score marks above the cut off marks you will be able to attend the next level.
  </li>
  <li>
    A report card will be generated after the completion of each level.
  </li>
  <li>
    In case you have not cleared a particular level, you can logout after viewing your reports.
  </li>
</ol>
  <br>
  <h4 class="instructions">All the best !</h4>
  <div class="align">
  <button class="start">Start Exam</button>
</div>
</div>
