
<!-- <div class="HomeClass">
  <pre>
    <button class="ButtonClass">Home</button>   <button class="ButtonClass" routerLink="/about us">About Us</button>
  </pre>
</div>
<div class="wrapper">
  <pre>
<button class="AshClass" onclick="alert('If you are a new user register yourself !')"> Login </button>  <button routerLink="/register" class="AshClass"> Register </button>
</pre>
</div> -->
<div class="ReportAndExam">
  <pre>
  <button class="ReportClass" onclick="alert('Please login to view your Report')">Report</button>
  <br>
  <button class="NewExamClass" onclick="alert('Please login to take up your exams')">New Exam</button>
</pre>
</div>




