<div class="register">
<form>
  <li>
    <label for="fullName"><b>Full Name: </b></label>
    <input type="text" id="fullName" name="name" required>
  </li>
  <br>
  <li>
    <label for="email"><b>Email:</b></label>
    <input type="email" id="email" name="email" required>
  </li>
  <br>
  <li>
    <label for="password"><b>Password:</b></label>
  <input type="password" id="password" name="pass" required>
  </li>
  <br>
  <li>
    <label for="Mobile"><b>Mobile:</b></label>
    <input type="tel" id="Mobile" name="mobile" required>
  </li>
  <br>
  <li>
    <label for="DOB"><b>DOB:</b></label>
    <input type="date" id="DOB" name="dob" required>
  </li>
  <br>
  <li>
    <label for="State"><b>State:</b></label>
    <input type="text" id="State" name="state" required>
  </li>
  <br>
  <li>
    <label for="City"><b>City:</b></label>
    <input type="text" id="City" name="city" required>
  </li>
  <br>
  <li>
    <label for="Qualification"><b>Qualification:</b></label>
    <input type="text" id="Qualification" name="qualification" required>
  </li>
  <br>
  <li>
    <label for="YearOfCompletion"><b>Year of Completion:</b></label>
    <input type=number id="YearOfCompletion" name="yearofcompletion" required>
  </li>
  <br>
  <li>
    captcha
  </li>
  <br>
  <li>
    <input name="form" type="submit" value="Register"/>
  </li>
</form>
</div>
